<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">

                <h3>Comapny</h3>
                <table class="table table-bordered table-stripped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Action</th>
                            <th>Previous Pending</th>
                            <th>Today Task</th>
                            <th>Today Call</th>
                            <th>Today Pending Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NEW</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>CONTACT</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>LEAD</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>ACCOUNT</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>CANCELLED</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>

</html>