<!-- HEADER DESKTOP-->
<header class="header-desktop">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="header-wrap">
                       HUMAN RESOURCE MANAGEMENT
            </div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">



            <h3>View Client cancelled Details</h3>
            
            <app-client-search></app-client-search>
            
            <table class="table table-bordered table-stripped">
                <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Client Name</th>
                        <th>Business Type</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of clientcancelled">
                        <td>{{1}}</td>
                        <td>{{temp.name}}</td>
                        <td>{{temp.b_type}}</td>
                        <td>{{temp.address}}</td>
                        <td>

                            <a routerLink="/app-client-view/{{temp.id}}" routerLinkActive="active-link">VIEW</a> |

                            <a routerLink="/app-client-update/{{temp.id}}" routerLinkActive="active-link">UPDATE</a> |

                            <a routerLink="/app-client-call/{{temp.id}}" routerLinkActive="active-link">CALL</a> |
                            <a routerLink="/app-client-email/{{temp.id}}" routerLinkActive="active-link">EMAIL</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <router-outlet></router-outlet>
<!-- begin footer-->
<div class="footer-pagination">
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-9" style="padding-left: 30%;">
                <ngb-pagination [(page)]="thePageNumber" 
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements" 
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="clientCancelled()">

                </ngb-pagination>
            </div>
            <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>

                <select (change)="updatePageSize($event.target.value)">
                    <option selected="true">5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>

                </select>

            </div>
        </div>
    </div>
</div>
</div>
<!-- end footer-->
</div>
</div>
</div>



